/* 變數 */
:root {
    --red: #e90b3b;
    --blue: #008cdd;
    --green: #00c066;
    --dark: #181818;
    --light: #d4d4d4;
    --spacing: 15px;
}
/* reset css  重置css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Segoe UI", "微軟正黑體";
    box-sizing: border-box;
}
ul,li {
    list-style: none;
}

