<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="grid.css">
</head>
<body>
    <div class="container row">
        <div class="col-3">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint laboriosam quisquam, at minima laudantium eos aperiam deleniti, distinctio quasi necessitatibus consectetur quod repellat voluptas. Laudantium sapiente unde amet earum repudiandae.
            </p>
            <a href="#">link</a>
        </div>
        <div class="col-3">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint laboriosam quisquam, at minima laudantium eos aperiam deleniti, distinctio quasi necessitatibus consectetur quod repellat voluptas. Laudantium sapiente unde amet earum repudiandae.
            </p>
            <a href="#">link</a>
        </div>
        <div class="col-3">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint laboriosam quisquam, at minima laudantium eos aperiam deleniti, distinctio quasi necessitatibus consectetur quod repellat voluptas. Laudantium sapiente unde amet earum repudiandae.
            </p>
            <a href="#">link</a>
        </div>
        <div class="col-3">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint laboriosam quisquam, at minima laudantium eos aperiam deleniti, distinctio quasi necessitatibus consectetur quod repellat voluptas. Laudantium sapiente unde amet earum repudiandae.
            </p>
            <a href="#">link</a>
        </div>
    </div>
</body>
</html>