nav {
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: var(--dark);
}
.nav-collapse {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-link {
    color: var(--light);

    text-decoration: none;
    margin: 0 7px;
}
.nav-toggle-btn {
    color: var(--light);
    text-decoration: none;
}
.nav-toggle {
    display: none;
}
/* HEADER */
header {
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.6),transparent),
        url("https://picsum.photos/id/35/1600/1200");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 250px;

    color: #fff;

    /* text-align: center; */
}
header .row {
    /* height: 650px; */
    /* align-items: center; */

    /* justify-content: center; */
}
header h1 {
    font-size: 72px;
    letter-spacing: 3px;

    text-shadow: 3px 3px 5px rgba(0,0,0,.5);
}
header p {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Section-title 區塊標題 */
.section-title {
    /* text-align: center; */
    /* margin: auto; */
}
.section-title h2{
    font-size: 32px;
}
.section-title p {
    font-size: 20px;
}
/* About */
#about {
    padding: 150px 0;
}
.about-content {
    background-color: #ff7878;
    /* padding: 30px; */
    border-radius: 5px;
}