nav {
    width: 100%;
    display: flex;
    /* align-items: center; */
    /* height: 60px; */
    background-color: var(--dark);
    flex-direction: column;
}
.nav-collapse {
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
    flex-direction: column;
    display: none;
}
.nav-collapse.active{
    display: flex;
}
.nav-link {
    color: var(--light);

    text-decoration: none;
    margin: 0 7px;
    display: block;
    padding: 15px;
}
.nav-menu .nav-link {
    position: relative;
}
.nav-toggle-btn {
    color: var(--light);
    text-decoration: none;
}
.nav-toggle {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
}
@media (min-width: 600px){
    nav {
        width: 100%;
        display: flex;
        align-items: center;
        height: 60px;
        background-color: var(--dark);
        flex-direction: row;
    }
    .nav-collapse {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .nav-link {
        color: var(--light);
    
        text-decoration: none;
        margin: 0 7px;
        display: inline-block;
        padding: 0;
    }
    .nav-menu .nav-link {
        position: relative;
    }
    .nav-menu .nav-link::after {
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 2px solid #a5ff7c;
        left: 0;
        bottom: -5px;
        transform: scaleX(0);
        transition: .5s;
        transform-origin: left;
    }
    .nav-menu .nav-link:hover::after {
        transform: scaleX(1);
    }

    .nav-toggle {
        display: none;
    }
}
/* HEADER */
header {
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.6),transparent),
        url("https://picsum.photos/id/35/1600/1200");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 250px;

    color: #fff;

    /* text-align: center; */
}
header .row {
    /* height: 650px; */
    /* align-items: center; */

    /* justify-content: center; */
}
header h1 {
    font-size: 72px;
    letter-spacing: 3px;

    text-shadow: 3px 3px 5px rgba(0,0,0,.5);
}
header p {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Section-title 區塊標題 */
/* 
    虛擬元素
    before,after
    特色
    1. 行內元素
    2. 元素內

*/
.section-title h2{
    font-size: 32px;
    position: relative;
}
/* .section-title h2::before {
    content:"";
    display: inline-block;
    border-bottom: 5px solid #000;
    width: 30px;
    position: absolute;
    top: 0;
} */
/* .section-title h2::after {
    content:"";
    display: inline-block; 
    border-bottom: 5px solid #000;
    width: 30px;
    position: absolute;
    bottom: 8px;
    margin-left: 5px;
} */
.section-title h2::after {
    content:"";
    display: inline-block; 
    width: 20px;
    height: 5px;
    background-color: #000;
    /* border-radius: 50%; */
    position: absolute;
    bottom: 8px;
    margin-left: 5px;
    /* border: 3px solid #000; */
}
.section-title p {
    font-size: 20px;
}
/* About */
#about {
    padding: 150px 0;
    background-color: #def8e6;
}
.about-content {
    background-color: #8fd9a8;
    /* padding: 30px; */
    border-radius: 5px;
}
/* Service */
#service {
    padding: 150px 0;
}
/* Portfolio */
#portfolio a {
    display: block;
    position: relative;
}
#portfolio a span {
    position: absolute;
    background-color: rgba(0,0,0,.8);
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    opacity: 1;
    transition:  .3s;
}
#portfolio a:hover span {
    opacity: 0;
}
/* news */
#news {
    padding: 150px 0;
}
/* Contact */
#contact {
    padding: 150px 0;
    background-color: #def8e6;
}
/* Footer */
footer {
    background-color: var(--dark);
    color: var(--light);
}


/* modal */
.modal {
    display: none;
}
.modal.active {
    display: block;
}
.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    top: 0;
    left: 0;
}
.modal-container {
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    margin-top: 15%;
    top: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    border-radius: 5px;
    width: 70%;
}

#gotop {
    width: 50px;
    height: 50px;
    background-color: #222;
    color: #fff;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
}