<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <select name="" id="county" v-model="county">
            <template v-for="d of getAllCounty">
                <option :value="d">{{d}}</option>
            </template>
        </select>
        <div v-for="d of getDataByCounty">
            <h2>觀測站:{{d.County}}--{{d.SiteName}} </h2>
            <div v-if="d.Status=='普通'" style="color:#009b1a">空氣品質 :{{d.Status}}</div>
            <div v-if="d.Status=='對敏感族群不健康'" style="color:#ff1a39">空氣品質 :{{d.Status}}</div>
            <div v-if="d.Status=='良好'" style="color:#0092cc">空氣品質 :{{d.Status}}</div>

        </div>
    </div> 
    <script>
        Vue.createApp({
            data(){
                return {
                    aqis:[],
                    county:'',
                }
            },
            created(){
                let url = 'https://data.epa.gov.tw/api/v1/aqx_p_432?limit=1000&api_key=9be7b239-557b-4c10-9775-78cadfc555e9&format=json';
                axios(url)
                .then(res => {
                    console.log(res.data.records);
                    this.aqis = res.data.records;
                })
            },
            computed:{
                getDataByCounty(){
                    return this.aqis.filter(data=>{
                        console.log(data.County);
                        return data.County == this.county;
                    })
                },
                getAllCounty(){
                    // 取得陣列中的重複資料
                    let county = this.aqis.map(data=> data.County);
                    // return county.filter((data,idx,arr)=>{
                    //     console.log(data);
                    //     return arr.indexOf(data) === idx;
                    // })

                    // return Array.from(new Set(county))
                    return [...(new Set(county))];
                }
            }
        }).mount('#app')
    </script>
</body>
</html>