<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .color {
            width: 50px;
            height: 50px;
            border: 1px solid #000;
            display: inline-block;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <div>{{desc}}</div>
        <img :src="`images/${img}`" width="500">
        <div>
            <img v-for="(product,idx) in products" :src="`images/${product.img}`" width="80" @click="changeImg(product,idx)">
        </div>
        <div v-for="(product,idx) in products" class="color" :style="{backgroundColor:product.color}" @click="changeImg(product,idx)"></div>
        <div v-for="(product,idx) in products" class="color" :style="{'background-color':product.color}" @click="changeImg(product,idx)"></div>

    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const data=[
                {
                    id:1,
                    color:'black',
                    colorName: '黑色',
                    img:'iphone-12-black-select-2020.png',
                    qty: 6
                },
                {
                    id:2,
                    color:'blue',
                    colorName: '藍色',
                    img:'iphone-12-blue-select-2020.png',
                    qty: 12
                },
                {
                    id:3,
                    color:'green',
                    colorName: '綠色',
                    img:'iphone-12-green-select-2020.png',
                    qty: 1
                },
                {
                    id:4,
                    color:'purple',
                    colorName: '紫色',
                    img:'iphone-12-purple-select-2021.png',
                    qty: 0
                },
                {
                    id:5,
                    color:'red',
                    colorName: '紅色',
                    img:'iphone-12-red-select-2020.png',
                    qty: 6
                },
                {
                    id:6,
                    color:'white',
                    colorName: '白色',
                    img:'iphone-12-white-select-2020.png',
                    qty: 13
                },
            ];
        Vue.createApp({
            data(){
                return {
                    title: 'iPhone 12',
                    desc: '為實現我們的環保目標，iPhone 12 與 iPhone 12 mini 不隨附電源轉接器和 EarPods。包裝盒內隨附的是一條支援快速充電的 USB‑C 對 Lightning 連接線，並可與 USB‑C 電源轉接器及電腦連接埠相容。',
                    img: 'iphone-12-black-select-2020.png',
                    products:data
                }
            },
            methods:{
                changeImg(product,idx){
                    // this.img = product.img
                    this.img = this.products[idx].img
                }
            }
        }).mount('#app');

    </script>
</body>
</html>